@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #FFF4E8; }

p {
  font-size: 20px; 
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

ul {
  list-style: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.Diseños__subtitulo {
  text-align: center;
  color: #EC7803;
  padding-top: 100px;
  font-size: 40px;
  /* transformacion para acercarlo al titulo */
  transform: translate(0px, -70px);
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* filas columnas grid */
.grid {
  display: grid;
  display: flex;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px;
  align-items: center;
  flex-direction: column; }

.carousel {
  padding-bottom: 80px;
}

.calendario {
  display: flex;
  aling-items: center;
  justify-content: center; }

  .piedepagina {
    font-style: serif;
  }
